<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">
    <link rel="stylesheet" href="">
    <title>{% block title %}Flare{% endblock %}</title>
</head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
    
    <script src="https://kit.fontawesome.com/4801d02071.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>