
{% block card %}
<div class="container-card">
    <div class="card-img">
        <img class="container-card-img" src="" alt="IMAGEM DO FILME">
    </div>
    <div class="card-text">
        <h1 class="movie-title">{{api[0]['title']}} (2024)</h1>
        <div class="movie-facts">
            <p class="movie-age">16</p>
            <i class="fa-solid fa-circle"></i>
            <p class="movie-date">04/01/2024 (BR)</p>
            <i class="fa-solid fa-circle"></i>
            <p class="movie-type">Drama, História</p>
            <i class="fa-solid fa-circle"></i>
            <p class="movie-duration">2h 24m</p>
        </div>
        <p class="movie-resume">{{api[0]['overview']}}</p>
        
    </div>
</div>
{% endblock %}