
{% block card %}
<div class="container-card">
    <div class="card-img">
        <img class="container-card-img" width="100%" height="100%" src="https://image.tmdb.org/t/p/original{{api['backdrop_path']}}" alt="{{api['title']}}">
    </div>
    <div class="card-text">
        <h1 class="movie-title">{{api['title']}} (2024)</h1>
        <div class="movie-facts">
            <p class="movie-age">16</p>
            <i class="fa-solid fa-circle"></i>
            <p class="movie-date">{{api['release_date']}} (BR)</p>
            <i class="fa-solid fa-circle"></i>
            <p class="movie-type">Drama, História</p>
            <i class="fa-solid fa-circle"></i>
            <p class="movie-duration">2h 24m</p>
        </div>
        <p class="movie-resume">{{api['overview']}}</p>
    </div>
</div>
{% endblock %}