{% block body %}
    <div class="container-main-content">

    </div>
    <footer class="movie-footer">
        <div class="data-provided">
            <p>Data provided by </p><a href="https://www.themoviedb.org/" target="_blank"><img src="{{ url_for('static', filename='images/tmdb-logo.svg' ) }}" alt="tmdb"></a>
        </div>
        <div class="social-info">
            <a href="https://github.com/oBrunoz/flare-movie-web" target="_blank"><img class="github-svg" src="{{ url_for('static', filename='images/github-logo.svg') }}" alt=""></a>
        </div>
    </footer>
{% endblock %}