<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="stylesheet" href="">
    <title>{% block title %}Flare{% endblock %}</title>
</head>
<body>
    <nav>
        {% include 'navbar.html' %}
    </nav>
    {% block body %}
        {% include 'card.html' %}
        {% include 'footer.html'   %}
    {% endblock %}

    <script src="https://kit.fontawesome.com/4801d02071.js" crossorigin="anonymous"></script>
</body>
</html>