{% extends 'base.html' %}
{% block title %}{{ media_metadata['title'] }} • {{super()}}{% endblock %}

{% block body %}
    <div class="movie-container-card">
        <div class="movie-image-banner">
            <div class="movie-image">
                <img class="banner-image" src="https://image.tmdb.org/t/p/original/{{ media_metadata['backdrop_path'] }}" alt="{{ media_metadata['title'] }}">
            </div>
            <div class="movie-card-details">
                <div class="media-detailed">
                    <img class="logo-image" src="https://image.tmdb.org/t/p/original/{{media_metadata['logo_path']}}" alt="" width="40%">
                    <h1>{{ media_metadata['title']}} {% if media_metadata['release_date'][1] %} ({{ media_metadata['release_date'][1] }}) {% endif %}</h1>
                    <div class="media-genre">
                        {% for item in media_metadata['genres'] %}
                            {% if item %}
                                <p class="p-details">{{ item['name'] }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p>{{ media_metadata['tagline'] }}</p>
                    <div class="media-detailed-info">
                        <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i> {{ media_metadata['vote_average'] }}</p>
                        <i class="fa-solid fa-circle"></i>
                        <p>{{ media_metadata['status'] }}</p>
                        <i class="fa-solid fa-circle"></i>
                        <p style="text-transform: uppercase;">{{ media_metadata['original_language'] }}</p>
                        <i class="fa-solid fa-circle"></i>
                        <p>{{ media_metadata['release_date'][0] }}</p>
                        <i class="fa-solid fa-circle"></i>
                        <p>{{ media_metadata['runtime_hour'] }}</p>
                    </div>
                    <div class="media-detailed-overview">
                        <p>{{ media_metadata['overview'] }}</p>
                    </div>
                    <div class="media-production-companies">
                        {% for item in media_metadata['production_companies'] %}
                            {% if item['logo_path'] %}
                                <img src="https://image.tmdb.org/t/p/original/{{item['logo_path']}}" alt="{{item['name']}}" width="50px" style="border-radius: 6px; padding: 3px; background-color: transparent">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-media-informations" style="background: var(--dominantColor); height: 1440px; padding-top: 25px; color: white;">
        <div class="media-informations" style="display: flex; justify-content: space-between; width: 100%; background: var(--dominantColor); height: fit-content; overflow: hidden; box-shadow: 0 4px 55px #0000005c; margin-bottom: 25px; padding: 20px 50px;">
            <div class="media-youtube-trailer" style="height: fit-content;
            display: flex;
            justify-content: center;
            margin: 0px 25px;">
                <img src="https://image.tmdb.org/t/p/original/{{media_metadata['poster_path']}}" alt="" style="width: 400px; border-radius: 20px; height: 600px; box-shadow: 1px 6px 17px #000000a3">
            </div>
            <div class="media-general-info" style="width: 100%; display: flex; justify-content: space-between;">
                <div class="media-general-text" style="margin-top: 89px; margin-bottom: 89px;">
                    <h3>Data de Lançamento</h3>
                    <p>15/07/2000</p>
                    <h3>Diretor</h3>
                    <p>Christopher Nolan</p>
                    <h3>Receita</h3>
                    <p>10000000</p>
                    <h3>Orçamento</h3>
                    <p>150000000</p>
                </div>
                <div class="youtube-trailer" style="display: flex; justify-content: center; align-items: center; margin: 0 25px;">
                    <iframe width="853" height="480" style="border: 1px solid black; border-radius: 25px;" src="https://www.youtube.com/embed/9DEOJkmZLd8?autoplay=1&controls=1&rel=0&showinfo=0" frameborder="0" allow='autoplay' allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="media-cast-scroller">
            <div class="media-card-cast">
                <div class="media-card-content">
                    <img style="width: 177px;" src="https://media.themoviedb.org/t/p/original/eWjkPYeXxPhE2F9J3Ui6E9OWVXy.jpg">
                </div>
                <div class="media-card-text">
                    <p>Emma Stone</p>
                    <p>Bella Baxter</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-media-similar">
        Similares
    </div>
{% endblock %}