{% extends 'base.html' %}
{% block title %}{{ media_metadata['title'] }} • {{super()}}{% endblock %}

{% block body %}
    <div class="movie-container-card">
        <div class="movie-image-banner">
            <div class="movie-image">
                <img class="banner-image" src="https://image.tmdb.org/t/p/original/{{ media_metadata['backdrop_path'] }}" alt="{{ media_metadata['title'] }}">
            </div>
            <div class="movie-card-details">
                <div class="media-detailed">
                    <img class="logo-image" src="https://image.tmdb.org/t/p/original/{{media_metadata['logo_path']}}" alt="" width="40%">
                    <h1>{{ media_metadata['title']}} {% if media_metadata['release_date'][1] %} ({{ media_metadata['release_date'][1] }}) {% endif %}</h1>
                    <div class="media-genre">
                        {% for item in media_metadata['genres'] %}
                            {% if item %}
                                <p class="p-details">{{ item['name'] }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p>{{ media_metadata['tagline'] }}</p>
                    <div class="media-detailed-info">
                        <p><i class="fa-solid fa-star" style="color: #FFD43B;"></i> {{ media_metadata['vote_average'] }}</p>
                        <i class="fa-solid fa-circle"></i>
                        <p>{{ media_metadata['status'] }}</p>
                        <i class="fa-solid fa-circle"></i>
                        <p style="text-transform: uppercase;">{{ media_metadata['original_language'] }}</p>
                        <i class="fa-solid fa-circle"></i>
                        <p>{{ media_metadata['release_date'][0] }}</p>
                        <i class="fa-solid fa-circle"></i>
                        <p>{{ media_metadata['runtime_hour'] }}</p>
                    </div>
                    <div class="media-detailed-overview">
                        <p>{{ media_metadata['overview'] }}</p>
                    </div>
                    <div class="media-production-companies">
                        {% for item in media_metadata['production_companies'] %}
                            {% if item['logo_path'] %}
                                <img src="https://image.tmdb.org/t/p/original/{{item['logo_path']}}" alt="{{item['name']}}" width="50px" style="border-radius: 6px; padding: 3px; background-color: transparent">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-media-informations" style="background: var(--dominantColor); height: 1440px; padding-top: 25px; color: white;">
        <div class="media-informations" style="display: flex; justify-content: space-between; width: 100%; background: var(--dominantColor); height: 50%; overflow: hidden; box-shadow: 0 4px 55px #0000005c;">
            <div class="media-youtube-trailer" style="height: 100%;
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 25px;">
                <img src="https://image.tmdb.org/t/p/original/{{media_metadata['poster_path']}}" alt="" style="width: 100%; border-radius: 20px;">
            </div>
            <div class="media-general-info" style="width: 100%; margin-top: 65px; margin-bottom: 65px; padding-right: 15rem;">
                <h3>Diretor</h3>
                <p>Christopher Nolan</p>

                <div class="media-cast-scroller">
                    <div class="media-card-cast">
                        <div class="media-card-content">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}