@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.fa-circle {
    font-size: 5px;
    padding: 10px;
}

.container-card {
    font-family: 'Poppins';
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 530px; */
    background-color: black;
}

.container-card > .card-img {
    display: flex;
    width: 50%;
    height: 100%;

    margin-top: 91px;
}

.container-card > .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    color: whitesmoke;

    margin-top: 91px;
    gap: 10px;
    padding: 2%;
}

.container-card > .card-text > .movie-facts {
    display: flex;
    flex-direction: row;
    gap: 10px;
}