@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --dark-grey: #222831;
    --grey: #393E46;
    --dark-blue: #03001C;
    --blue-title: #2662D9;
}

.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    margin-top: 30px;
}

.content-title > p {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px;

    color: var(--blue-title);
}

.container-main-content {
    font-family: 'Poppins';
    font-weight: 300;
    display: grid;
    justify-content: space-evenly;
    margin: auto;
    gap: 20px;
    padding: 0 120px 0;
    grid-template-columns: repeat(5, 1fr);

    width: 100%;
    height: auto;
}

footer {
    position: relative;
    bottom: 0;
}

footer > .container-footer {
    font-family: 'Poppins';
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100px;

    background: rgb(2, 4, 12);
}

footer > .container-footer > .social-info {
    display: flex;
    gap: 50px;
    margin: 0 75px;
    align-items: center;
    align-content: space-between;
}

footer > .container-footer > .social-info .github-svg {
    width: 50px;
}

footer > .container-footer > .data-provided {
    display: flex;
    align-items: center;
    margin: 0 60px;
    gap: 10px;
    font-size: 12px;
}

footer > .container-footer > .data-provided>a:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .container-footer > .data-provided>p:nth-child(1) {
    text-transform: capitalize;
    color: whitesmoke;
    font-weight: 400;
}