@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.container-main-content {
    font-family: 'Poppins';
    font-weight: 300;
    display: grid;
    justify-content: space-evenly;
    margin: auto;
    gap: 20px;
    padding: 60px 60px;
    grid-template-columns: repeat(5, 1fr);
    
    width: 100%;
    height: auto;
}

footer {
    font-family: 'Poppins';
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100px;

    background: rgb(2, 4, 12);
}

footer > .social-info {
    display: flex;
    gap: 50px;
    margin: 0 75px;
    align-items: center;
    align-content: space-between;
}

footer > .social-info .github-svg {
    width: 50px;
}

footer > .data-provided {
    display: flex;
    align-items: center;
    margin: 0 60px;
    gap: 10px;
    font-size: 12px;
}

footer > .data-provided > a:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .data-provided > p:nth-child(1) {
    text-transform: capitalize;
    color: whitesmoke;
    font-weight: 400;
}

.container-main-content > .card-context {
    width: fit-content;
    height: 380px;
    background-color: black;
    border-radius: 14px;
    margin-top: 10px;
    border: 1px solid whitesmoke;
    overflow: hidden;
}

.container-main-content > .card-context > .card-context-image {
    height: 90%;
}

.container-main-content > .card-context > .card-context-image > img {
    width: 100%;
    height: 100%;

    border-bottom: 1px solid white;
}