.movie-container-card {
    font-family: 'Poppins';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 92px;
    background-color: black;
    box-shadow: #01000be0 0 3px 29px;
}

.movie-container-card > .movie-image-banner {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 42rem;

    box-shadow: 0px 0px 9px black;
}

.movie-container-card > .movie-image-banner > .movie-image {
    width: 70%;
}

.movie-container-card > .movie-image-banner > .movie-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 15%;
}

.movie-container-card > .movie-image-banner > .movie-card-details {
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    left: 0;
    padding-left: 2rem;
    padding-right: 20rem;

    background: linear-gradient(to right, var(--dominantColor) 0%, var(--dominantColor) 45%, rgba(3, 0, 28, 0) 100%, transparent);
    color: white;
    width: 75%;
    height: 42rem;
    gap: 30px;
}

.movie-container-card > .movie-image-banner > .movie-card-details > .media-detailed {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
    max-height: 38rem;
    max-width: 80%;
    min-width: 50%;
    margin-top: 60px;
    margin-right: auto;
    gap: 14px;

    color: var(--text-color);
}

.movie-container-card > .movie-image-banner > .movie-card-details > .media-detailed > h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 13px;
}

.movie-container-card > .movie-image-banner > .movie-card-details > .media-detailed > p {
    width: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.movie-container-card > .movie-image-banner > .movie-card-details > .media-detailed > .media-detailed-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.movie-container-card > .movie-image-banner > .movie-card-details > .media-detailed > .media-detailed-overview {
    max-height: 180px;
    overflow: auto;
    width: fit-content;
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
}

.movie-container-card > .movie-image-banner > .movie-card-details > .media-detailed > .media-genre {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.movie-container-card > .movie-image-banner > .movie-card-details > .media-detailed > .media-genre > .p-details {
    background: var(--dominantColorLogo);
    text-align: center;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: bold;
    border: 1.5px solid var(--text-color);
}

.movie-container-card > .movie-image-banner > .movie-card-details > .media-detailed > .media-production-companies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 25px;
    align-items: center;
    margin: 0 0 5px;
}

.container-media-informations {
    height: 1440px;
    padding-top: 25px;
    color: white;
    background-color: var(--dominantColor);
}

.container-media-informations > .media-cast-scroller {
    display: flex;
    overflow: auto;
    position: relative;
    height: fit-content;
    flex-direction: row;
    padding: 21px 35px;
    gap: 20px;
    bottom: 0px;
    box-shadow: 0px 0px 9px black;

    background: var(--dark-grey);
}

.container-media-informations > .media-cast-scroller > .media-card-cast {
    width: fit-content;
    min-width: fit-content;
    height: fit-content;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--dominantColorLogo);
}

.container-media-informations > .media-cast-scroller > .media-card-cast > .media-card-text {
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.container-media-informations > .media-cast-scroller > .media-card-cast > .media-card-text > :first-child {
    font-weight: bold;
}